# List of packages which are needed for development and deployment
numpy==1.14.0
sklearn
typing
pytest
flask
pandas
flask-cors
scipy
# TODO: Introduce development (non-deployment) dependencies
pytest-cov
Flask-Session
graphviz
flask-ask
