# List of packages which are needed for development and deployment
# Please add dependencies here and in the Dockerfile
numpy==1.14.0
sklearn
typing
pytest
flask
pandas
flask-cors
scipy
# TODO: Introduce development (non-deployment) dependencies
redis
pytest-cov
Flask-Session
cryptography==2.1.4
flask-ask
